html {
	--black: black;
	--white: white;
	--gray: #959595;
	--blackgray: #353535;
	--blue: blue;
}

* {
	margin: 0;
	padding: 0;
}
button{
background-color: var(--blue);
color: var(--white);
border-radius: 8px;
padding: 8px;
border: 1px solid transparent;
}

header {
	background-color: var(--black);
	color: var(--white);

	justify-content: space-evenly;
	align-items: center;
	/* border-bottom: 2px solid var(--black); */
}

header,
nav, article, ul {
	display: flex;
	text-align: center;

}

nav {
	justify-content: space-evenly;
	gap: 10px;
}

a {
	color: gray;
}

article:first-of-type, footer {
	background-color: var(--black);
	color: var(--white);
}

article:first-of-type{
padding: 5%;

}


article:first-of-type img{
	width: 70%;
	height: 90%;
	
}

article:first-of-type p{
	
	color: var(--gray);
}

article:nth-of-type(2) {
flex-direction: column;
padding: 5%;
gap: 20px;
}

ul{
justify-content: space-between;
align-items: center;
gap: 10px;
}
li{
list-style: none;
}


article:nth-of-type(3) {
flex-direction: column;
background-color: var(--gray);
/* color: var(--blackgray); */
padding: 7%;
}



#goodQuote{
color: var(--blackgray);
}
#author{
color: var(--black);
display: block;
font-size: .9rem;
align-self: end;
font-weight: bold;
}

article:nth-of-type(4) {
flex-direction: column;
}

figure img{
width: 7vw;
height: 8vw;
border: 2px solid var(--blue);
border-radius:8px;
}
